osx_image: xcode8.3
language: objective-c
before_install:
  - gem install xcpretty --no-rdoc --no-ri --no-document --quiet
script:
    - swiftlint
    - xcodebuild test -project CodableNSCache.xcodeproj -scheme CodableNSCache -destination 'platform=iOS Simulator,name=iPhone 7,OS=10.3.1'
notifications:
  email: false
